.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalOverlay.active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.modalOverlay:not(.active) {
    visibility: hidden;
    opacity: 0;
}

.container {
    background: white;
    border-radius: 10px;
    max-width: 550px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modalContent {
    padding: 50px;
}

.close_button {
    position: absolute;
    top: 18px;
    right: 28px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.close_button h3{
    color: black;
    font-family: var(--font_main);
    font-size: 1.5rem;
    margin: 0;
}

.container_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_title h2{
    font-size: 1.9rem;
}

.container_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;
    padding-bottom: 0px;
    /* height: 55%; */
    /* width: 80%; */
    gap: 1rem;
}


.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkbox  input{
    margin-right: 10px;
}

.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 3rem;
}

.button{
    background-color: var(--blue-header); 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 1rem;
    margin-left: 1rem;
}

.button:hover {
    background-color: lightseagreen; 
}

.container_footer{
    background-color: var(--blue-header);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* height: 15%; */
    width: 100%;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.container_footer p{
    color: white;
}

.container_footer button{
    width: auto;
    background-color: var(--blue-header); 
    color: white; 
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 1px;
    padding: 4px;
}

.container_footer button:hover {
    color: lightseagreen;
}