.categories-container {
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.category {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.category-label {
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: 600;
}